@page
@model WebApplication23.Areas.NflCalc.Pages.Downloads1Model
@{
}


<p>&nbsp;</p>
<table>
   <tr>
      <td style="width: 140px; padding-right: 20px; vertical-align: top;">
         <img src="~/images/appstore2.jpg" style="width: 100%; height: auto;" />
      </td>
      <td style="font-size:large">
         Zeemerix Pro Football What-If for iPhone is available in the Apple App Store.<br />
      </td>
   </tr>
</table>

<div style="padding: 20px 20px 20px 20px; font-size:large;" />
<br />
<br />
<br />
<b>Zeemerix Pro Football What-If Privacy Policy</b>
<p />&nbsp;&nbsp;&nbsp;Zeemerix Pro Football What-If neither collects nor retains any informnation supplied by the user.
