@page
@model WebApplication23.Areas.NflCalc.Pages.IndexModel
@{
   ViewBag.Title = "Pro Football What-If";
   ViewBag.Keywords = "zeemerix, football, simulation, nfl, statistical, iPhone";
}

<h1 class="MajorTitle"><img src="~/images/icon5_96.png">Pro Football What-If for iPhone</h1>

<table>
   <tr>

      <td width="40" />

      <td width="600" class="Regular" style="padding:20px;">

         <b>Pro Football What-If</b><br />
         <i>Pro Football What-If</i> simulates the NFL season by playing out the remaining part of the
         schedule using random numbers combined with publicly available power ratings and point spreads,
         and then simulating the post-season all the way through the Super Bowl.
         In doing this it applies the NFL tie-breaking rules.

         <p />Current year-to-date results are updated nightly on all game days. All the NFL
         tie-breaking rules are programmed into <i>Pro Football What-If</i> and are used in
         determining standings and playoff seedings in both conferences.

         <p /><b>Single Game Overrides</b><br />
         The most powerful feature of <i>Pro Football What-If</i> is the ability to override, or force,
         the outcome of specific games. This lets you determine just how significant a particular game is.

         <p />For example, say the Giants are going up against the Cowboys in Dallas in week 15,
         and they trail in the standings by one game. This seems like a big game...
         but just how big is it? It's sometimes hqard to tell. If the Giants win they'll be tied in the standings.
         but who hold the tiebreaker? It can be hard to know because the NFL rules, with all the tiebreakers and so on,
         are so complicated. Pro Football What-if shows you exactly what the team's chances
         are for post-season and Super Bowl assuming they win or assuming they lose the game in question.

         <h3></h3>
         <span style="text-decoration: underline;">Available in the Aoole App Store Store</span>.
         <br />Visit the Apple App Store on your iPhone to install <i>Pro Football What-If</i>

         <p /><b>Screenshots</b>
         <br /><a asp-page="/Products1">Click here for screenshots</a>

   </tr>

</table>
