@page
@model WebApplication23.Areas.NflCalc.Pages.Products1Model
@{
   ViewBag.Title = "Pro Football What-If - Screenshots";
   ViewBag.Keywords = "zeemerix, football, simulation, nfl, statistical, iPhone";
}


<p style="font-size: 30px; font-weight: bold; padding-left:20px">
   Zeemerix Pro Football What-If Screenshots
</p>

<div style="background-color:lightgray;">
   <p>&nbsp;</p>

   <table style="margin:15px;">
      <tr>
         <td class="ScreenShotLeft"><img src="~/images/Screenshots_nflcalc/shot2.png" width="310" height="552" /></td>
         <td class="ScreenShotLeft"><img src="~/images/Screenshots_nflcalc/shot4.png" width="310" height="552" /></td>
         <td class="ScreenShotRite">
         </td>
      </tr>
   </table>

   <table style="margin:15px;">
      <tr>
         <td class="ScreenShotLeft"><img src="~/images/Screenshots_nflcalc/shot3.png" width="310" height="552" /></td>
         <td class="ScreenShotLeft"><img src="~/images/Screenshots_nflcalc/shot5.png" width="310" height="552" /></td>
         <td class="ScreenShotRite">
         </td>
      </tr>
   </table>

   <table style="margin:15px;">
      <tr>
         <td class="ScreenShotLeft"><img src="~/images/Screenshots_nflcalc/shot1.png" width="310" height="552" /></td>
         <td class="ScreenShotLeft"><img src="~/images/Screenshots_nflcalc/shot6.png" width="310" height="552" /></td>
         <td class="ScreenShotRite">
         </td>
      </tr>
   </table>

   </div>