<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <title>
      @ViewBag.Title
   </title>
   <meta name="keywords" content="@ViewBag.Keywords" />
   <link href="~/css/master1.css" rel="stylesheet" type="text/css" />
</head>
   <body>

      <div>
         <img src="~/images/zeemerix4.png" border="0" />
         <br />
         <table>
            <tr>
               <td class="menu" align="center"><a class="mainmenu" asp-area="" asp-page="/Index"> Zeemerix Home</a> </td>
               <td class="menu" align="center"><a class="mainmenu" asp-page="/Index">Baseball Home</a> </td>
               <td class="menu" align="center"><a class="mainmenu" asp-page="/Products1">Screen Shots</a> </td>

               <td class="menu" align="center"><a class="mainmenu" asp-page="/Downloads1">Get PlayByPlay</a> </td>
               <td class="menu" align="center"><a class="mainmenu" asp-page="/Contact1">Contact</a> </td>
            </tr>
         </table>
      </div>

@RenderBody()

   </body>

</html>