@page
@model WebApplication23.Areas.iPhone.Pages.Downloads1Model
@{
   ViewBag.Title = "Zeemeric Baseball for iPhone - Downloads";
   ViewBag.Keywords = "zeemerix, baseball, game, simulation, mlb, statistical, iPhone";
}

<p>&nbsp;</p>
<table>
   <tr>
      <td style="width: 140px; padding-right: 20px; vertical-align: top;">
         <img src="~/images/appstore2.jpg" style="width: 100%; height: auto;" />
      </td>
      <td style="font-size:large">
         Zeemerix PlayByPlay Baseball for the iPhone is available in the Apple App Store.<br />
      </td>
   </tr>
</table>

<div style="padding: 20px 20px 20px 20px; font-size:large;" />
<br />
<br />
<br />
<b>Zeemerix PlayByPlay Baseball Privacy Policy</b>
<p />&nbsp;&nbsp;&nbsp;Zeemerix PlayByPlay Baseball neither collects nor retains any informnation supplied by the user.
