@page
@model WebApplication23.Areas.iPhone.Pages.IndexModel
@{
   ViewBag.Title = "Zeemeric Baseball for iPhone";
   ViewBag.Keywords = "zeemerix, baseball, game, simulation, mlb, statistical, iPhone";
}

<h1 class="MajorTitle"><img src="~/images/DiamondLogo.jpg" />Zeemerix Baseball for iPhone</h1>

<table>
   <tr>
      <td width="600" class="Regular" style="padding:20px;">

         <span style="text-decoration: underline;">Major League simulation baseball game </span>.
         <br />
         Zeemerix Baseball lets you set the lineups and choose the starting pichers.
         You can choose when to pinch it, pinch run, change pitchers, and call special
         plays such as sacrifice bunt, steal, and intentional walk.

         <p>
            With Zeemerix baseball you have access to every NL and AL team from 1901 to 2020.
            Each player performs in accordance with his real life season statistics.
            So for example, Aaron Judge will hit more home runs than, say, DJ LeMahieu, but he'll strike out more too.
            But LeMahieu is going to hit for a higher batting average than Judge.
         </p>

         <p>
            Zeemerix Baseball shows you exactly the liklihood of a home run, triple, double, single and strike out
            for a given batter vs pitcher, via the unique performance profile disks pictured here and under "Screen Shots".
         </p>

         @*This here is for the interactive Web version, if that is ever implimented.*@
         @*<table>
            <tr>
               <td style="border:1px solid black; background-color:beige; padding:15px 20px 15px 20px;">
                  <b>To view available players and see a simplified game simulation...</b>
                  <br /><a href="playerdata1.html">Click here</a>
               </td>
            </tr>
         </table>*@
      </td>

      <td class="ScreenShotLeft">
         <img src="~/images/Screenshots/main2.png" />
      </td>

   </tr>

</table>


