@page
@model WebApplication23.Areas.iPhone.Pages.Products1Model
@{
   ViewBag.Title = "Zeemeric Baseball for iPhone - Screenshots";
   ViewBag.Keywords = "zeemerix, baseball, game, simulation, mlb, statistical, iPhone";
}

<p style="font-size: 30px; font-weight: bold; padding-left:20px">
   Zeemerix PlayByPlay Baseball Screenshots
</p>

<div style="background-color:lightgray;">
   <p>&nbsp;</p>

   <table style="margin:15px;">
      <tr>
         <td class="ScreenShotLeft" width="20%"><img src="~/images/Screenshots/pickteams2.png" /></td>
         <td class="ScreenShotRite">
            Pick the visiting and home teams. You can choose from all 30 AL and NL teams.
         </td>
      </tr>
   </table>


   <table style="margin:15px;">
      <tr>
         <td class="ScreenShotLeft"><img src="~/images/Screenshots/main2.png" /></td>
         <td class="ScreenShotRite">
            This is the main Zeermerix Baseball screen. Play-by-play is shown in the box on the lower left.
            The disk at the bottom is the 'performance profile disk' -- It's a graphical representation of
            the liklihood of this batter, facing this pitcher, getting a home run, triple,double,
            single, walk, strike out or other result. The wider the colored segment, the more
            likly the result. The arrow pointer appears after the play, showing how Zeemerix Baseball randomly
            determined the outcome of the play.
            <p />In addition, the play-by-play detail is called audibly as it's displayed in the play-by-play panel.
         </td>
      </tr>
   </table>

   <table style="margin:15px;">
      <tr>
         <td class="ScreenShotLeft"><img src="~/images/Screenshots/disks2.png" /></td>
         <td class="ScreenShotLeft"><img src="~/images/Screenshots/disks2a.png" /></td>
         <td class="ScreenShotRite">
            When you tap "Drill Down" at the bottom of the main screen, this screen appears showing
            four different versions of the performance profile, for comparison purposes:
            <ol>
               <li>The overall league average.</li>
               <li>The current batter against an average pitcher.</li>
               <li>The current pitcher against an average batter.</li>
               <li>The current batter against the current pitcher (same as on the main screen).</li>
            </ol>
         </td>
      </tr>
   </table>

   <table style="margin:15px;">
      <tr>
         <td class="ScreenShotLeft"><img src="~/images/Screenshots/lineup2.png" /></td>
         <td class="ScreenShotRite">
            As manager, you can choose when to pinch it, pinch run, change pitchers, and call special
            plays such as sacrifice bunt, steal, and intentional walk.
         </td>
      </tr>
   </table>

   <table style="margin:15px;">
      <tr>
         <td class="ScreenShotLeft"><img src="~/images/Screenshots/box2a.png" /></td>
         <td class="ScreenShotLeft"><img src="~/images/Screenshots/box2b.png" /></td>
         <td class="ScreenShotRite">
            You can view the in-game box score at any time.
         </td>
      </tr>
   </table>


</div>
