@page
@model WebApplication23.Areas.iOS.Pages.Contact1Model
@{
      ViewBag.Title = "Zeemeric Baseball for iPad - Contact";
      ViewBag.Keywords = "zeemerix, baseball, game, simulation, mlb, statistical, iPad";
}

<p>&nbsp;</p>
<br />
<table>
   <tr>
      <td style="width: 140px; padding-right: 20px; vertical-align: top;">
         <img src="~/images/AddressBook1.png" style="width: 100%; height: auto;" />
      </td>
      <td style="font-size:large">
         <b>We welcome your feedback!</b>
         <br />
         Please contact Zeemerix Digital Solutions by email at<br />
         <a href="mailto:info@zeemerix.com"> info@zeemerix.com</a>
      </td>

   </tr>

</table>

